/*body{
    font-family: "Poppins";
    cursor: url('mouse.png'),auto;
}*/


.web-header{
    height: 10vh;
    border: 0.3vh solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}
.menu-button{
    border: none;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: salmon;
    font-weight: bold;
    font-family: "Poppins";
    border-radius: 7px;
}

.web-content{
    height: 80vh;
    width: 100vw;
    border: 0.3vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-footer{
    height: 10vh;
    width: 100vw;
    border: 0.3vh solid black;
}

.content-1{
    height: 20vh;
    width: 20vw;
    padding: 10vh;
    background-color: moccasin;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 3vw;
    border: 1vh solid salmon;
    transition: 1000ms ease-in-out;
}
.content-1:hover{
    transform: rotateY(180deg);
    background-color: rgb(81, 69, 48);
}

.web-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    border: none;
    margin: auto;
    height: 5vh;
    width: 7vw;
    background-color: greenyellow;
    font-weight: bold;
    font-family: "Poppins";
    border-radius: 7px;
    text-decoration: none;
} 


.web-content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border: none;
    display: grid;
    place-items: center;
    margin: 0.3rem;
    border-radius: 1rem;
    font-family: "Poppins";

}

.username{
    padding: 0.7rem;
    width: 15rem;
    border:0.1rem solid black;
    resize: none;
    box-shadow: bisque,burlywood;
    border-radius: 2rem;
}
.password{
    padding: 0.7rem;
    width: 15rem;
    border:0.1rem solid black;
    resize: none;
    box-shadow: rgba(0,0,0,0.35), 0em 5em 25em;
    border-radius: 2rem;
}
.button-alignment{
    display: flex;
    flex-direction: row;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

